---
---

<footer class="flex flex-col items-center py-8">

  <p class='text-white'>(No.8) Hill St</p>
  <p class='text-white'>Surry Hills Australia</p>
  <p class='text-white'>Morning - Lunch</p>
  <p class='text-white'>Open Monday - Saturday</p>

</footer>
