---
// import NavSide from './NavSide.astro';
---
<section id='#hero' class='h-[48rem]'>
  <div
    class="
    h-full
    w-full
    bg-no-repeat
    bg-cover
    bg-[url('/images/hero-mobile.jpg')]
    md:bg-[url('/images/hero.jpg')]
    ">
  </div>
</section>
