---
// import NavSide from './NavSide.astro';
---
<section id='#hero' class='h-48 md:h-60 lg:h-96 xl:h-[36rem] 2xl:h-[48rem]'>
  <div
    class="
    h-full
    w-full
    bg-no-repeat
    bg-cover
    bg-center
    lg:bg-top-left
    bg-[url('/images/hero.jpg')]
    ">
  </div>
</section>
