---
// import NavSide from './NavSide.astro';
---
<!--  flex flex-col-reverse lg:flex-row items-center gap-12 mt-14 lg:mt-28 -->
<div class='h-screen'>
  <div
    class="
    h-2/3
    w-full
    bg-no-repeat
    bg-cover
    bg-[url('/images/hero-mobile.jpg')]
    md:bg-[url('/images/hero.jpg')]
    mb-6
    ">
  </div>
</div>
