---
import NavItem from './NavItem.astro';
---

<nav class="relative p-6 ">
  <div class="container mx-auto flex items-center justify-between ">
    <div class="text-4xl xl:text-5xl 2xl:text-6xl uppercase">
      Jinto
    </div>
    <!-- Menu Items -->
    <div class="hidden md:flex space-x-6 uppercase text-lg">
      <NavItem label='Home' href="#home"></NavItem>
      <NavItem label='Coffee' href="#coffee"></NavItem>
      <NavItem label='Vibe' href="#vibe"></NavItem>
      <NavItem label='Food' href="#food"></NavItem>
      <NavItem label='Clay' href="#clay"></NavItem>
      <NavItem label='Location' href="#location"></NavItem>
    </div>
    <div>
      <i class="lg:block text-white lg:text-2xl fa-brands fa-facebook"></i>
      <i class="lg:block text-white lg:text-2xl fa-brands fa-instagram"></i>
    </div>
  </div>
</nav>
