---
import Product from './Product.astro'
---

<section id="products" class="container mt-12 max-w-2xl py-12 px-4 sm:py-20 sm:px-6 lg:px-8 lg:max-w-7xl">
  <div class="grid grid-cols-1 gap-y-10 gap-x-6 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
    <Product title="Coffee" image='product1.png' />
    <Product title="Vibe" image='product2.jpg' />
    <Product title="Food" image='product3.jpg' />
    <Product title="Clay" image='product4.jpg' />
  </div>
</section>

