---
export interface Props {
  title: string;
  image: string;
}

const { title, image } = Astro.props as Props;
---

<div class='h-64 w-64 lg:h-52 lg:w-52 xl:h-72 xl:w-72 bg-cover' style={`background-image: url('/images/${image}')`}>
  <h2 class="flex items-center justify-center text-5xl font-bold uppercase h-full border-2 border-solid">
    {title}
  </h2>
</div>
